{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        {% if error %}
            <div class="alert alert-danger">{{ dump(error.messageData) }}</div>
        {% endif %}
        <div class="card" style="width: 40vw">
            <div class="card-body">
                <form method="post" action="{{ path('app_login') }}">
                    <h1 class="h3 mb-3 font-weight-normal">Login </h1>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" value="{{ last_username }}" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
