{% extends 'base.html.twig' %}
{% block body %}
    <style>
        form{
            margin: 5rem;
            padding: 4rem;
        }
        button{
            margin-top: 4rem;
            background-color: white !important;
            color: black !important;
            border: 2px solid #4CAF50 !important;
            cursor: pointer !important;
            border-radius: 4px !important;
            padding: 0.5rem 15px;
        }
        #pdf_file>div>label{
            visibility: hidden;
        }
    </style>
    {% if error is defined %}
        <div class="mt-4 alert alert-danger">{{ error }}</div>
    {% endif %}
    <div class="card mt-5">
        <div class="card-header">
            <h2>Upload a new PDF File here</h2>
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
